* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: cyan;
}

#cartbtn {
  margin: 20px 0;
}

#cartbtn a {
  background-color: red;
  text-align: end;
  border: none;
  margin-left: 15px;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.main-box {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
  justify-content: space-around;
}

.product-card {
  width: 250px;
  border-radius: 5px;
  height: 345px;
  text-align: center;
  background-color: white;
  position: relative;
}

.product-card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 60%;
}

.product-card h2 {
  font-size: 18px;
}

.product-card button {
  width: 95%;
  background-color: rgb(13, 222, 13);
  border: none;
  border-radius: 5px;
  height: 30px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 7px
}

@media screen and (max-width:576px) {
  #cartbtn a {
    margin-left: 10px;
    padding: 8px 13px;
  }


  .product-card {
    width: 175px;
    height: 250px;
    border: 0.5px solid black;
  }

  .product-card h2 {
    font-size: 16px;
  }

  .product-card button {
    height: 25px;
    font-size: 14px;
    bottom: 5px;
    left: 4px
  }

}